@import "theme.css";

:root {
    --neo-a-visited: #9D2A9B;
    --neo-a: #8FD5FF;

    --neo-sidebar-bg-color: #0f0f0f;

    --neo-bg-color: #1f1f1f;
    --neo-text-color: #cfcfcf;

    --neo-inline-bg-color: #2b393d;
    --neo-inline_text-color: #8cbcde;

    --neo-note-bg-color: #1d3e47;
    --neo-note-title-color:#225664;
    --neo-note-text-color: #cfcfcf;

    --neo-nav-header-text-color: #77c3d8;

    --neo-ref-bg-color: #131313;
    --neo-ref-hover-bg-color: #272727;

    --neo-ref-current-bg-color: #302f2f;
    --neo-ref-current-hover-bg-color: #3d3d3d;

    --neo-button: #525252;
    --neo-button-hover:  #6e6e6e;
}

a {
    color: var(--neo-a);
}

a:visited {
    color: var(--neo-a-visited);
}

.wy-body-for-nav {
    background-color: var(--neo-bg-color);
    color: var(--neo-text-color);
}

.wy-nav-content {
    background-color: var(--neo-bg-color);
    color: var(--neo-text-color);
}

.docutils.literal.notranslate{
    background-color: var(--neo-inline-bg-color);
    color: var(--neo-inline_text-color);
    border-width: 0px;
}
.rst-content .wy-alert-info.admonition .admonition-title,
.rst-content .admonition-title {
    color: white;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
       /* !important prevents the common CSS stylesheets from overriding
          this as on RTD they are loaded after this stylesheet */
       white-space: normal !important;
    }
 
    .wy-table-responsive {
       overflow: visible !important;
    }
 }

.wy-alert.wy-alert-info .wy-alert-title,
.rst-content .note .wy-alert-title,
.rst-content .wy-alert-info.attention .wy-alert-title,
.rst-content .wy-alert-info.caution .wy-alert-title,
.rst-content .wy-alert-info.danger .wy-alert-title,
.rst-content .wy-alert-info.error .wy-alert-title,
.rst-content .wy-alert-info.hint .wy-alert-title,
.rst-content .wy-alert-info.important .wy-alert-title,
.rst-content .wy-alert-info.tip .wy-alert-title,
.rst-content .wy-alert-info.warning .wy-alert-title,
.rst-content .seealso .wy-alert-title,
.rst-content .wy-alert-info.admonition-todo .wy-alert-title,
.rst-content .wy-alert-info.admonition .wy-alert-title,
.wy-alert.wy-alert-info .rst-content .admonition-title,
.rst-content .wy-alert.wy-alert-info .admonition-title,
.rst-content .note .admonition-title,
.rst-content .wy-alert-info.attention .admonition-title,
.rst-content .wy-alert-info.caution .admonition-title,
.rst-content .wy-alert-info.danger .admonition-title,
.rst-content .wy-alert-info.error .admonition-title,
.rst-content .wy-alert-info.hint .admonition-title,
.rst-content .wy-alert-info.important .admonition-title,
.rst-content .wy-alert-info.tip .admonition-title,
.rst-content .wy-alert-info.warning .admonition-title,
.rst-content .seealso .admonition-title,
.rst-content .wy-alert-info.admonition-todo .admonition-title,
.rst-content .wy-alert-info.admonition .admonition-title {
    background: var(--neo-note-title-color)
}

.admonition.note {
    background-color: var(--neo-note-bg-color);
    color: var(--neo-note-text-color);
}

.wy-side-scroll {
    background-color: var(--neo-sidebar-bg-color);
}

.caption {
    background-color: var(--neo-sidebar-bg-color);
}

.caption-text {
    color: var(--neo-nav-header-text-color);
}

.wy-menu-vertical a {
    background-color: var(--neo-ref-bg-color);
    color: var(--neo-text-color);
}

.wy-menu-vertical a:hover {
    background-color: var(--neo-ref-hover-bg-color);
    color: var(--neo-text-color);
}

.reference.internal.current {
    background-color: var(--neo-ref-current-bg-color);
    color: white;
}

.reference.internal.current:hover {
    background-color: var(--neo-ref-current-hover-bg-color);
}

.wy-menu-vertical li.current a {
    background-color: var(--neo-ref-current-bg-color);
    color: var(--neo-text-color);
}

.wy-menu-vertical li.current a:hover {
    background-color: var(--neo-ref-current-hover-bg-color);
    color: var(--neo-text-color);
}

.wy-menu-vertical li.on a:hover span.toctree-expand,
.wy-menu-vertical li.current>a:hover span.toctree-expand {
 color:white
}

.wy-menu-vertical li.on a span.toctree-expand,
.wy-menu-vertical li.current>a span.toctree-expand {
 display:block;
 font-size:.8em;
 line-height:1.6em;
 color:white
}

.wy-menu-vertical a span.toctree-expand {
    color:white;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    display:block;
    background:var(--neo-ref-current-bg-color);
}

.wy-menu-vertical li.toctree-l2.current>a {
    background:var(--neo-ref-current-bg-color);
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
    display:block;
    background:var(--neo-ref-current-bg-color);
}

.wy-side-nav-search {
    background-color: var(--neo-sidebar-bg-color);   
}

.wy-side-nav-search input[type=text] {
    background-color: black;
    color: white;
}

.btn-neutral {
    background-color: var(--neo-button) !important;
    color: white !important;
}

.btn-neutral:visited {
    background-color: var(--neo-button) !important;
    color: white !important;
}

.btn-neutral:hover {
    background-color: var(--neo-button-hover) !important;
    color: white !important;
}

.rst-content pre.literal-block,
.rst-content div[class^='highlight'] {
    background-color: #1E1E1E;
    border-color: black;
    border-width: 2px;
}

.highlight .nn {
    color: #4EC9B0 !important;
}

.highlight .c1 {
    color: #629755 !important;
}

.highlight .cm {
    color: #629755 !important;
}

.highlight .n {
    color: #DCDCDC !important;
}

.highlight .k {
    color: #569CD6 !important;
}

.highlight .kt {
    color: #569CD6 !important;
}

.highlight .nf {
    color: #F4CF86 !important;
}

.highlight .nc {
    color: #4EC9B0 !important;
}

.highlight .s {
    color: #D69D85 !important;
}

.highlight .m {
    color: #B5CEA8 !important;
}

.highlight .nt {
    color: #569CD6 !important;
}

.highlight .na {
    color: #DCDCDC !important;
}

.wy-table td:first-child,
.rst-content table.docutils td:first-child,
.rst-content table.field-list td:first-child {
    background-color: rgba(8, 25, 39, 0.262);
    color: var(--neo-text-color);
    border-width: 0px;
}

.wy-table th:first-child,
.rst-content table.docutils th:first-child,
.rst-content table.field-list th:first-child {
    background-color: rgba(56, 84, 107, 0.562);
    color: var(--neo-text-color);
    border-width: 0px;
}

.wy-table thead th,
.rst-content table.docutils thead th,
.rst-content table.field-list thead th {
    background-color:  rgba(56, 84, 107, 0.562);
    color: var(--neo-text-color);
    border-width: 0px;
}

.wy-table-bordered-all td,
.rst-content table.docutils td {
    background-color: rgba(8, 25, 39, 0.262);
    color: var(--neo-text-color);
    border-width: 0px;
}

.wy-table-odd td,
.wy-table-striped tr:nth-child(2n-1) td,
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: rgba(24, 49, 70, 0.262);
    color: var(--neo-text-color);
}

.wy-table-bordered-all,
.rst-content table.docutils {
    border:1px solid rgba(56, 84, 107, 0.562);
}

.rst-content .highlighted {
    background:#5f5422;
}